/* common */
body {
    font-family: $text-font-family;
    font-size: 15px;
    font-weight: 400;
    color: $text-color;
    line-height: 26px;
    letter-spacing: 0.02rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

::selection {
    color: $primary;
    background-color: rgba(0, 0, 0, 0.04);
}

p,
li,
a {
    margin-bottom: 0;
    font-family: $text-font-family;
    font-size: 15px;
    color: $text-color;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.03rem;
}

a {
    @include ease3;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font-family;
    margin-bottom: 0;
    color: $title-color;
    font-weight: 600;
    letter-spacing: 0.03rem;
}

[type="radio"] {
    &:checked {
        position: relative;
        opacity: 0;
        display: none;

        + {
            label {
                position: relative;
                padding-left: 26px;
                cursor: pointer;
                line-height: 16px;
                display: inline-block;
                color: $text-color;
                letter-spacing: 0;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    background: $bg-fff;
                    border: 1px solid $primary;
                }

                &:after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: $primary;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    transition: all 0.2s ease;
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &:not(:checked) {
        position: relative;
        opacity: 0;
        display: none;

        + {
            label {
                position: relative;
                padding-left: 26px;
                cursor: pointer;
                line-height: 16px;
                display: inline-block;
                color: $text-color;
                letter-spacing: 0;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 16px;
                    height: 16px;
                    border: 1px solid $border-eee;
                    border-radius: 100%;
                    background: $bg-fff;
                }

                &:after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: $primary;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    transition: all 0.2s ease;
                    opacity: 0;
                    transform: scale(0);
                }
            }
        }
    }
}

.bb-bg {
    background-color: $bg-box;
}

/* Loader */
.bb-loader {
    min-width: 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-fff;
    z-index: 45;

    img {
        position: absolute;
    }

    .loader {
        width: 60px;
        height: 60px;
        position: relative;

        &:before {
            content: "";
            width: 100px;
            height: 100px;
            position: absolute;
            top: -20px;
            left: -20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px dashed $secondary;
            border-radius: 50%;
            animation: animloader 5s linear infinite;
        }
    }

    @keyframes animloader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);

        }
    }
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    border: 1px solid $border-eee;
    outline: 0;
    border-radius: $radius-10 !important;

    &::placeholder {
        font-size: 14px;
        font-weight: 400;
        color: $text-color !important;
    }
}

.custom-dropdown {
    position: relative;
    z-index: 5;

    &:hover {
        ul.dropdown {
            opacity: 1;
            display: block;
            visibility: visible;
            margin: 6px 0 0 0;
        }
    }

    .bb-dropdown-toggle {
        position: relative;
        padding-right: 15px;

        &:after {
            content: "\ea4e";
            width: 0;
            height: 0;
            position: absolute;
            top: -1px;
            right: 12px;
            font-size: 15px;
            font-family: "remixicon";
        }
    }

    ul.dropdown {
        @include ease3;
        min-width: 140px;
        padding: 10px 5px;
        margin: 25px 0 0 0;
        position: absolute;
        z-index: 16;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        left: -26px;
        right: auto !important;
        background: #fff;
        box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.07);
        border: 1px solid #eee;
        display: block;
        border-radius: 10px;

        li {
            a {
                padding: 0px 12px;
                font-size: 13px;
                display: block;
                color: #686e7d;
            }
        }
    }
}

.section-title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    z-index: 5;

    .section-detail {
        h2 {
            margin-bottom: 0;
            padding: 0;
            font-size: 25px;
            line-height: 38px;
            font-weight: 700;
            color: $title-color;
            position: relative;
            display: inline;
            text-transform: capitalize;
            line-height: 1;

            span {
                color: $primary;
            }
        }

        p {
            max-width: 400px;
            margin: 10px 0 0 0;
            font-size: 14px;
            color: $text-color;
            line-height: 18px;
        }
    }

    .title-link {
        display: flex;
        align-items: flex-end;

        a {
            color: $text-color;
            display: flex;
            align-items: center;

            i {
                @include ease3;
                height: 18px;
                margin-left: 10px;
                color: $text-color;
            }

            &:hover {
                color: $primary;

                i {
                    color: $primary;
                }
            }
        }
    }
}

.bb-center {
    text-align: center;
    justify-content: center;
}

/* Back to top button */
a.back-to-top {
    width: 38px;
    height: 38px;
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 4;
    border-radius: 20px;
    cursor: pointer;
    background-color: $bg-fff;
    color: $primary;
    border: 1px solid $primary;
    text-align: center;
    font-size: 22px;
    line-height: 1.6;

    i {
        font-size: 20px;
    }

    &:hover {
        @include ease3;
    }

    svg {
        width: 36px;
        height: 36px;
        position: fixed;
        right: 16px;
        bottom: 16px;

        path {
            fill: transparent;
            stroke: $primary;
            stroke-width: 5px;
        }
    }
}

/* Custom select */
.select {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $text-fff;
}

// select {
//     display: none;
// }

.custom-select {
    color: $text-777;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in;
    font-size: 14px;
    position: relative;
    background-color: #fff;
    width: 100%;
    cursor: pointer;

    svg {
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;

        path {
            fill: $primary;
        }
    }

    .custom-select {
        position: relative;

        &:after {
            content: "\ea4e" !important;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 12px;
            font-size: 20px;
            font-family: "remixicon" !important;
            transform: translateX(-50%);
        }

        &:active,
        .active {
            background-color: $text-fff;
        }
    }

    &:focus {
        outline: 2px;
    }
}

.select-options {
    min-width: 190px;
    max-height: 200px;
    margin: 0;
    padding: 10px 0;
    overflow-y: auto;
    display: none;
    position: absolute !important;
    // top: 47px;
    // right: 0;
    // left: 0;
    z-index: 20;
    list-style: none;
    background-color: $bg-fff;
    border-radius: $radius-10;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.07);
    border: 1px solid #eee;

    li {
        @include ease3;
        margin: 0;
        padding: 5px 20px !important;
        transition: all 0.15s ease-in;
        border-radius: 5px;
        font-size: 14px;
        color: $text-777;
        cursor: pointer;

        &:hover {
            color: $primary;
        }
    }

    li[rel="hide"] {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $bg-f5f5f5;
        border-radius: 0 0 5px 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $bg-9e9e9e;
    }
}

.bb-btn-1 {
    @include ease3;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
    color: $title-color;
    background: transparent;
    border-radius: $radius-10;
    border: 1px solid $secondary;

    &:hover {
        background: $primary;
        border-color: $primary;
        color: $text-fff !important;
    }
}

.bb-btn-2 {
    @include ease3;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
    background: $primary;
    color: $text-fff !important;
    border-radius: $radius-10;
    border: 1px solid $primary;

    &:hover {
        background: transparent;
        border-color: $secondary;
        color: $title-color !important;
    }
}

.mb-24 {
    margin-bottom: 24px;
}

.m-minus-12 {
    margin: -12px;
}

.mb-minus-24 {
    margin-bottom: -24px;
}

.padding-t-100 {
    padding: 100px 0 0 0;
}

.padding-b-100 {
    padding-bottom: 100px !important;
}

.padding-tb-100 {
    padding: 100px 0;
}

.padding-tb-50 {
    padding: 50px 0;
}

.padding-t-50 {
    padding: 50px 0 0 0;
}

.padding-b-50 {
    padding-bottom: 50px;
}

.margin-t-50 {
    margin-top: 50px;
}

.margin-tb-100 {
    margin: 100px 0;
}

.margin-tb-50 {
    margin: 50px 0;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.iiz__hint {
    &::before {
        display: none !important;
    }
}
.Toastify__toast-container {
    .Toastify__toast {
        .Toastify__toast-icon {
            svg {
                fill: #6c7fd8;
            }
        }
        .Toastify__progress-bar--wrp {
            .Toastify__progress-bar--success {
                background: #6c7fd8;
            }
        }
    }
}



/* Responsive */
@media screen and (min-width: 1400px) {
    .bb-col-6 {
        width: 16.6666%;
        flex: 0 0 16.6666%;
    }
}

@media screen and (min-width: 1200px) {
    .bb-col-5 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media screen and (max-width: 1199px) {
    .bb-btn-1 {
        padding: 3px 15px;
    }

    .padding-tb-100 {
        padding: 70px 0;
    }

    .padding-t-100 {
        padding-top: 70px;
    }

    .padding-b-100 {
        padding-bottom: 70px !important;
    }

    .padding-tb-50 {
        padding: 35px 0;
    }

    .padding-t-50 {
        padding-top: 35px;
    }

    .padding-b-50 {
        padding-bottom: 35px;
    }

    .margin-tb-50 {
        margin: 35px 0;
    }

    .margin-t-50 {
        margin-top: 35px;
    }

    .margin-b-50 {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 991px) {
    .section-title {
        padding-bottom: 0;
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
    }

    .section-title {
        .section-detail {
            margin-bottom: 12px;

            p {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .p-0-991 {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .d-none-767 {
        display: none;
    }

    .section-title {
        .section-detail {
            h2 {
                font-size: 23px;
            }
        }
    }

    .bb-deal {
        flex-direction: column;

        #dealend {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 575px) {
    section {
        overflow: hidden;
    }
}

@media only screen and (min-width: 992px) {
    .bb-footer .footer-top .bb-footer-widget .bb-footer-dropdown {
        display: block !important;
        opacity: 1 !important;
        height: auto !important;
        -webkit-transform: translateY(0px) !important;
        transform: translateY(0px) !important;
        padding-bottom: 0px !important;
    }
}