/* Footer */
.bb-footer {
	color: $text-fff;
	background: $bg-box;

	.footer-directory {
		border: 1px solid $border-eee;

		.directory-title {
			margin-bottom: 24px;
			text-align: center;

			h4 {
				font-size: 16px;
				font-weight: 700;
				color: $title-color;
				letter-spacing: 0;
				text-transform: uppercase;
			}
		}

		.directory-contact {
			margin-bottom: -24px;

			.inner-contact {
				margin-bottom: 24px;

				ul {
					display: flex;
					flex-wrap: wrap;

					span {
						margin-right: 12px;
						font-size: 14px;
						font-weight: 600;
						color: $text-color;
						text-transform: capitalize;
					}

					li {
						a {
							@include ease3;
							font-size: 13px;
							font-weight: 400;
							color: $text-color;
							text-transform: capitalize;

							&:hover {
								color: $primary;
							}
						}

						&:first-child {
							&::after {
								display: none;
							}
						}

						&:not(:last-child) {
							&::after {
								content: "|";
								padding: 0 10px;
								font-size: 14px;
								color: $text-color;
							}
						}
					}
				}
			}
		}
	}

	.footer-container {
		border-top: 1px solid $border-eee;
	}

	.footer-top {
		.bb-footer-company {
			display: flex;
			flex-direction: column;

			.bb-app-store {
				margin: -7px;
				display: flex;
				flex-wrap: wrap;
			}
		}

		.bb-footer-widget {
			.bb-footer-logo {
				max-width: 144px;
				margin-bottom: 30px;
			}

			.bb-footer-dark-logo {
				max-width: 144px;
				margin-bottom: 30px;
				display: none;
			}

			.bb-footer-detail {
				max-width: 400px;
				margin-bottom: 30px;
				padding: 0;
				font-size: 14px;
				line-height: 27px;
				font-weight: 400;
				color: $text-color;
				display: inline-block;
				position: relative;
			}

			.app-img {
				img {
					max-width: 140px;
					margin: 7px;
					border-radius: $radius-5;
				}
			}

			.bb-footer-heading {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 20px;
				color: $secondary;
				letter-spacing: 0;
				position: relative;
				display: block;
				width: 100%;
				padding-bottom: 15px;
				text-transform: capitalize;
				border-bottom: 1px solid $border-eee;
			}

			.s-head {
				display: none;
			}

			.bb-footer-links {
				ul {
					margin-bottom: 0;
				}

				i {
					line-height: 0;
					font-size: 18px;
				}

				.bb-footer-link {
					display: block;
					margin: 0;
					line-height: 1.5;
					border: 0;
					padding: 0;
					font-weight: 400;
					font-size: 16px;
					color: $primary !important;
					display: flex;
					align-items: center;

					&:not(:last-child) {
						margin-bottom: 16px;
					}

					a {
						@include ease3;
						font-size: 14px;
						line-height: 20px;
						padding: 0;
						color: $text-color;
						margin-bottom: 0;
						display: inline-block;
						position: relative;
						word-break: break-all;
						letter-spacing: 0;
						font-weight: 400;
						cursor: pointer;

						&:hover {
							color: $primary;
							opacity: 1;
						}
					}
				}
			}
		}

		.bb-footer-contact {
			.bb-footer-widget {
				.bb-footer-links {
					li {
						&:first-child {
							align-items: self-start;
						}

						p {
							margin: 0;
							font-size: 14px;
							font-weight: 400;
							color: $text-color;
						}
					}

					a {
						text-transform: unset;
					}

					.bb-footer-link {
						span {
							width: 25px;
							flex: 0 0 auto;
							display: flex;
						}

						.mt-15px {
							margin-top: 15px;
						}
					}
				}
			}
		}

		.bb-footer-social {
			margin-bottom: 0;

			ul {
				display: flex;
				flex-wrap: wrap;
			}

			.bb-footer-widget {
				.bb-footer-links {
					.bb-footer-link {
						padding-right: 5px;

						&:not(:last-child) {
							margin-bottom: 0;
						}

						a {
							width: 30px;
							height: 30px;
							border-radius: $radius-5;
							background-color: $secondary;
							text-transform: capitalize;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 15px;

							&:hover {
								background-color: $primary;
							}

							i {
								font-size: 16px;
								color: $text-fff;
							}
						}
					}
				}
			}
		}
	}
}

.bb-footer-contact {
	margin-bottom: 30px;
}

.footer-bottom {
	padding: 10px 0;
	border-top: 1px solid $border-eee;

	.bb-bottom-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.bb-copy {
		color: $text-color;
		font-size: 13px;
		letter-spacing: 1px;
		text-align: center;
		font-weight: 400;
		a {
			@include ease3;
			font-weight: 500;
			color: $primary !important;
		}

		.site-name {
			&:hover {
				color: $secondary;
			}
		}
	}
}

.bb-heading-res {
	display: none;
}

/* Responsive footer css */
@media only screen and (max-width: 1399px) {
	.bb-footer {
		.footer-top {
			.bb-footer-widget {
				.bb-footer-links {
					.bb-footer-link {
						a {
							font-size: 15px;
						}
					}

					li {
						p {
							font-size: 15px;
						}
					}
				}

				.app-img {
					img {
						max-width: 120px;
					}
				}

				.bb-footer-detail {
					font-size: 15px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.bb-footer {
		.footer-top {
			.bb-footer-widget {
				.bb-footer-links {
					.bb-footer-link {
						a {
							font-size: 14px;
						}
					}

					li {
						p {
							font-size: 14px;
						}
					}
				}

				.bb-footer-detail {
					font-size: 14px;
				}
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.bb-footer {
		.footer-top {
			.bb-footer-widget {
				.bb-footer-dropdown {
					display: block !important;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.bb-footer {
		.footer-top {
			.bb-footer-company {
				margin-bottom: 24px;
			}

			.container {
				>.row {
					padding: 0;
				}
			}

			.bb-footer-widget {
				.bb-footer-links {
					ul {
						margin-bottom: 15px;
					}

					.bb-footer-link {
						&:not(:last-child) {
							margin-bottom: 15px;
						}
					}
				}
			}

			.col-sm-12.col-lg-3 {
				width: 100%;
				margin-bottom: 0;
			}

			.bb-footer-contact {
				.bb-footer-widget {
					.bb-footer-heading {
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	.bb-footer-contact {
		margin-bottom: 0;
	}

	.footer-news-title {
		font-size: 20px;
	}

	.bb-subscribe-form {
		flex: 0 0 58%;
	}

	.bb-heading-res {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		display: block;
		text-align: right;
	}

	.bb-footer-links.bb-footer-dropdown {
		display: none;
		padding: 0 0 20px 0;
	}

	.footer-bottom-copy {
		text-align: center;
	}

	.footer-bottom {
		padding: 15px 0;

		.col {
			flex: 1 0 100%;
		}

		.bb-bottom-info {
			flex-direction: column;

			.footer-copy {
				margin-bottom: 15px;
			}
		}
	}

	.col.footer-bottom-right {
		margin: 15px auto;
	}

	.footer-bottom-payment.d-flex.justify-content-end {
		justify-content: center !important;
	}

	.bb-footer {
		.footer-top {
			.bb-footer-widget {
				.s-head {
					display: block;
				}

				.bb-footer-heading {
					margin-bottom: 20px;
					font-size: 14px;
				}
			}
		}
	}

	.m-minus-991 {
		margin-bottom: -15px;
	}
}

@media (max-width: 767px) {
	.bb-footer {
		.footer-top {
			.bb-footer-widget {

				.bb-footer-logo,
				.bb-footer-dark-logo {
					max-width: 130px;
				}
			}
		}
	}
}

@media (max-width: 360px) {
	.footer-bottom {
		.bb-bottom-info {
			.footer-bottom-right {
				img {
					width: 100%;
				}
			}
		}
	}
}