/* newsletter-popup */
.bb-popnews-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black_05;
    display: none;
    z-index: 25;
}

.bb-popnews-box {
    width: 100%;
    max-width: 600px;
    padding: 24px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-fff;
    display: none;
    z-index: 25;
    text-align: center;
    border-radius: $radius-15;
    overflow: hidden;

    &:hover {
        .bb-popnews-close {
            height: 25px !important;
        }
    }

    .bb-popnews-box-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 100%;
        border-radius: $radius-15;
    }

    h2 {
        text-decoration: none;
        color: $title-color;
        display: block;
        font-size: 22px;
        line-height: 33px;
        font-weight: 600;
        margin: 0 auto 10px;
        letter-spacing: 0;
        text-transform: capitalize;
    }

    p {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 22px;
        color: $text-color;
    }

    form {
        margin-bottom: 0px;
    }

    input {
        // margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid $border-eee;
        color: $title-color;
        font-size: 14px;
        padding: 10px 15px;
        width: 100%;
        outline: none;
        border-radius: $radius-10 !important;
    }

    button {
        padding: 4px 15px;
        margin-top: 20px
    }
}

.bb-popnews-close {
    @include ease3;
    width: 16px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: 15px;
    border: 0;
    background-color: rgba(224, 78, 78, 0.7);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgba(224, 78, 78, 1);
    }

    &:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 3px;
        left: 3px;
        border: 2px solid #fff;
        border-radius: 50%;
    }
}

/* Responsive */
@media screen and (max-width: 767px) {
    .bb-popnews-box {
        width: 90%;
    }

    .bb-popnews-box {
        img {
            display: none;
        }
    }
}