/* quickview */
.modal-dialog {
    margin: 0% auto;
    max-width: 960px;
    width: 800px;
    padding: 35px;
    transition: all 0.3s ease 0s;
}

.quickview-modal {
    .modal-body {
        padding: 24px;
    }

    .qty-close {
        @include ease3;
        width: 16px;
        height: 20px;
        position: absolute;
        top: -5px;
        right: 24px;
        border: 0;
        background-color: rgba(224, 78, 78, 0.7);
        border-radius: 10px;
        cursor: pointer;
        z-index: 5;

        &:hover {
            background-color: rgba(224, 78, 78, 1);
        }

        &:after {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 3px;
            left: 3px;
            border: 2px solid #fff;
            border-radius: 50%;
        }
    }

    .modal-content {
        border: 0;
        border-radius: $radius-20;
        overflow: hidden;

        &:hover {
            .qty-close {
                height: 25px !important;
            }
        }

        .single-pro-img {
            height: 100%;
            border: 1px solid $border-eee;
            overflow: hidden;
            border-radius: $radius-20;

            .single-product-scroll {
                height: 100%;
            }

            .single-slide {
                height: 100%;
                background-color: $bg-fff;
                display: flex;
                align-items: center;

                .iiz__hint {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

button.btn-close.qty_close {
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px;
    z-index: 9999;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.quickview-pro-content {
    .bb-quick-title {
        a {
            margin: 0 0 10px 0;
            display: block;
            color: $title-color;
            font-size: 20px;
            text-decoration: none;
            line-height: 30px;
            font-weight: 500;
        }
    }

    .bb-pro-rating {
        display: flex;
        margin-bottom: 10px;
    }

    .bb-quickview-desc {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        color: $text-777;
        font-weight: 300;
    }

    .bb-quickview-price {
        padding: 5px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: left;

        span.new-price {
            color: $title-color;
            font-weight: 700;
            font-size: 22px;
        }

        span.old-price {
            font-size: 18px;
            margin-left: 10px;
            text-decoration: line-through;
            color: $text-777;
        }
    }
}

.bb-quickview-qty {
    display: flex;

    .bb-quickview-cart {
        margin-left: 4px;

        button {
            height: 40px;

            i {
                padding-right: 8px;
            }

            padding: 3px 20px;
        }
    }
}

.bb-pro-variation {
    margin: 15px 0 25px 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: -2px;

        li {
            height: 22px;
            margin: 2px;
            padding: 2px 8px;
            cursor: pointer;
            border: 1px solid $border-eee;
            color: $text-777;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 22px;
            border-radius: $radius-20;
            font-weight: 400;

            a {
                font-size: 12px;
                line-height: 22px;
                font-weight: 400;
                color: $text-777;
            }
        }

        li.active {
            background-color: $primary !important;
            color: $text-fff !important;
            border-color: $primary !important;

            a {
                color: $text-fff !important;
            }
        }
    }
}

/* Responsive footer css */
@media only screen and (max-width: 991px) {
    .modal-dialog {
        max-width: 720px;
        width: 720px;
    }
}

@media only screen and (max-width: 767px) {
    .modal-dialog {
        width: 80%;
        height: auto;
        max-width: 100%;
        padding: 35px 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 575px) {
    .modal-dialog {
        width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    .bb-quickview-qty {
        flex-direction: column;
        justify-content: center;

        .qty-plus-minus {
            margin: auto;
        }

        .bb-quickview-cart {
            margin-top: 15px;
            margin-left: 0;
            display: flex;
            justify-content: center;
        }
    }
}