/* Banner-two */
.section-banner-two {
    background-image: url("../img/banner-two/banner.jpg");
    min-height: 600px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-justify-box-contact {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner-two-box {
    background-color: $bg-fff;
    border-top-left-radius: $radius-30;
    border-top-right-radius: $radius-30;
    max-width: 400px;
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &:before {
        content: "";
        background-image: url('../img/banner-two/left-shape.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30px;
        width: 30px;
        position: absolute;
        z-index: 1;
        left: -30px;
        bottom: 0;
    }

    &:after {
        content: "";
        background-image: url('../img/banner-two/right-shape.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30px;
        width: 30px;
        position: absolute;
        z-index: 1;
        right: -30px;
        bottom: 0;
    }

    span {
        font-size: 20px;
        font-weight: 600;
        color: $primary;
    }

    h4 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        color: $title-color;
    }
}

/* Responsive footer css */
@media only screen and (max-width: 991px) {
    .banner-two-box {
        max-width: 300px;

        span {
            font-size: 18px;
        }

        h4 {
            font-size: 30px;
        }
    }

    .section-banner-two {
        max-height: 400px;
        min-height: auto;
    }

    .banner-justify-box-contact {
        height: 400px;
    }
}

@media only screen and (max-width: 991px) {
    .banner-two-box {
        max-width: 250px;

        span {
            font-size: 16px;
        }

        h4 {
            font-size: 22px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .banner-two-box {
        margin: 0 auto;
    }
}