/* Banner-two */
.section-banner-two {
    position: relative;
    max-width: 1536px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;

    .banner-container {
        width: 100%;
        height: 383px;
    }

    .banner-two-slider {
        width: 100%;
        height: 100%;

        .slick-list,
        .slick-track {
            height: 100%;
        }
    }

    .banner-slide-item {
        height: 383px;
        width: 100%;
        outline: none;
        /* Remove focus outline */
    }

    .banner-image-bg {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    /* Custom Arrows */
    .custom-slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }

        i {
            font-size: 24px;
            color: #333;
            line-height: 1;
        }

        &:before {
            display: none;
            /* Hide default slick arrow content */
        }
    }

    .custom-slick-prev {
        left: 20px;
    }

    .custom-slick-next {
        right: 20px;
    }
}

/* Responsive Adjustments */
@media only screen and (max-width: 991px) {
    .section-banner-two {

        .banner-container,
        .banner-slide-item {
            height: 300px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .section-banner-two {

        .banner-container,
        .banner-slide-item {
            height: 200px;
        }

        .custom-slick-arrow {
            width: 30px;
            height: 30px;

            i {
                font-size: 18px;
            }
        }
    }
}