/* Banner-one */
.bg-box-color-one {
    background-color: $banner-bg-one;

    &:before {
        background-color: $banner-shape-one;
    }

    &:after {
        background-color: $banner-shape-one;
    }
}

.bg-box-color-two {
    background-color: $banner-bg-two;

    &:before {
        background-color: $banner-shape-two;
    }

    &:after {
        background-color: $banner-shape-two;
    }
}

.banner-box {
    padding: 30px;
    border-radius: $radius-20;
    position: relative;
    overflow: hidden;

    &:hover {
        &:before {
            left: -210px;
            top: -210px;
        }

        &:after {
            right: -80px;
            bottom: -110px;
        }
    }

    &:before {
        @include ease3;
        content: "";
        width: 400px;
        height: 600px;
        position: absolute;
        left: -200px;
        top: -200px;
        bottom: 0;
        rotate: 40deg;
        z-index: 0;
    }

    &:after {
        @include ease3;
        content: "";
        width: 150px;
        height: 300px;
        position: absolute;
        right: -70px;
        bottom: -100px;
        rotate: 40deg;
        z-index: 0;
    }

    .inner-banner-box {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;

        .side-image {
            padding: 0 12px;
            display: flex;
            align-items: center;

            img {
                width: 280px;
                height: 280px;
            }
        }

        .inner-contact {
            max-width: 250px;
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h5 {
                margin-bottom: 15px;
                font-size: 31px;
                font-weight: bold;
                color: $title-color;
            }

            p {
                margin-bottom: 15px;
                font-size: 16px;
                color: $text-color !important;
            }

            a {
                padding: 5px 15px;
            }
        }
    }
}

/* Responsive footer css */
@media only screen and (max-width: 1399px) {
    .banner-box {
        .inner-banner-box {
            .side-image {
                img {
                    width: 230px;
                    height: 230px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .banner-box {
        &:before, &:after {
            opacity: .5;
        }
        .inner-banner-box {
            .side-image {
                img {
                    width: 140px;
                    height: 140px;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .banner-box {
        .inner-banner-box {
            .side-image {
                img {
                    width: 280px;
                    height: 280px;
                }
            }
        }
    }

    .banner-box {
        .inner-banner-box {
            .inner-contact {
                h5 {
                    font-size: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner-box {
        .inner-banner-box {
            .side-image {
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

    .banner-box {
        &:before {
            left: -300px;
        }

        &:after {
            right: -100px;
        }

        &:hover {
            &:before {
                left: -310px;
            }

            &:after {
                right: -110px;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .banner-box {
        .inner-banner-box {
            .side-image {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .inner-contact {
                h5 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .banner-box {
        .inner-banner-box {
            flex-direction: column;

            .side-image {
                padding: 0;
                margin-bottom: 12px;
                display: flex;
                justify-content: center;

                img {
                    width: calc(100% - 70px);
                }
            }

            .inner-contact {
                padding: 0;
                max-width: 100%;
                text-align: center;
                align-items: center;

                h5 {
                    margin-bottom: 2px;
                    font-size: 22px;
                }

                p {
                    margin-bottom: 8px;
                    font-size: 14px;
                }
            }
        }
    }

}