/* category */
.bb-category-img {
    position: relative;

    img {
        width: 100%;
        border-radius: $radius-30;
    }

    .bb-offers {
        padding: 5px 15px;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $bg-000;
        opacity: 0.8;
        border-radius: $radius-15;

        span {
            font-size: 14px;
            font-weight: 400;
            color: $text-fff;
        }
    }
}

.bb-category-contact {
    .category-title {
        margin-bottom: 30px;

        h2 {
            font-size: 124px;
            text-shadow: $text-border-shape;
            color: $text-fff;
            opacity: 0.15;
            font-weight: bold;
            line-height: 1.2;
        }
    }
}

.bb-category-block {
    margin-left: -150px;
    width: calc(100% + 150px);
    padding: 30px 0 0 30px;
    background-color: $bg-fff;
    border-top-left-radius: 30px;
    position: relative;

    &:before {
        content: "";
        height: 30px;
        width: 30px;
        position: absolute;
        top: -29px;
        left: 97px;
        background-image: url("../img/category/top-shape.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &:after {
        content: "";
        height: 30px;
        width: 30px;
        position: absolute;
        bottom: 0;
        left: -29px;
        background-image: url("../img/category/top-shape.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.bb-category-block.swiper {
    margin-left: -150px;
    padding: 30px 0 0 30px;
}

.category-items-1 {
    background-color: $category-color-1;
}

.category-items-2 {
    background-color: $category-color-2;
}

.category-items-3 {
    background-color: $category-color-3;
}

.category-items-4 {
    background-color: $category-color-4;
}

.bb-category-box {
    padding: 30px;
    border-radius: $radius-20;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
        .category-image {

            img,
            svg {
                animation: zoom-in-zoom-out .5s ease-out;
            }
        }
    }

    .category-image {
        margin-bottom: 12px;

        img,
        svg {
            height: 50px;
            width: 50px;
        }
    }

    @keyframes zoom-in-zoom-out {
        0% {
            transform: scale(1, 1);
            opacity: 1;
        }

        50% {
            transform: scale(1.2, 1.2);
        }

        100% {
            transform: scale(1, 1);
            opacity: 1;
        }
    }

    .category-sub-contact {
        h5 {
            margin-bottom: 2px;
            font-size: 16px;

            a {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.03rem;
                color: $title-color !important;
                text-transform: capitalize;
            }
        }

        p {
            font-size: 13px;
            color: $text-color !important;
            line-height: 25px;
        }
    }
}

/* Responsive footer css */
@media only screen and (max-width: 1399px) {
    .bb-category-contact {
        .category-title {
            h2 {
                font-size: 95px;
            }
        }
    }

    .bb-category-box {
        .category-image {
            img {
                height: 65px;
                width: 65px;
            }
        }
    }

    .bb-category-box {
        padding: 20px;
    }
}

@media only screen and (max-width: 1199px) {
    .bb-category-box {
        .category-image {
            img {
                height: 50px;
                width: 50px;
            }
        }
    }

    .bb-category-contact {
        .category-title {
            h2 {
                font-size: 70px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .bb-category-img {
        display: none;
    }
    .bb-category-block.swiper {
        margin: 0;
        padding: 0;
    }
    .bb-category-contact {
        margin-top: -24px;

        .category-title {
            display: none;
        }
    }

    .bb-category-block {
        margin-left: 0;
        width: 100%;
        padding: 0;

        &:before,
        &:after {
            display: none;
        }
    }
}

@media only screen and (max-width: 767px) {
    .bb-category-contact {
        .category-title {
            h2 {
                font-size: 42px;
            }
        }
    }
}