

.Color-fff {
  color: #fff !important;
}

a {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  position: relative;
}

.margin-none {
  margin: 0 10px;
}

@media (max-width: 425px) {
  .margin-none {
    margin: 0 6px;
  }
}

/* price range slider css start*/

.price-range-slider {
  margin-top: 10px;
}

#slider-range {
  margin-top: 20px;
  right: 10px;
}

.range-bar .noUi-connect {
  background-color: #6c7fd8;
}

.range-bar .noUi-handle-upper {
  background-color: #6c7fd8;
  border-radius: 25px;
  width: 17px !important;
  height: 17px !important;
  top: -7px !important;
  box-shadow: none !important;
  border: 3px solid #6c7fd8 !important;
  cursor: pointer;
}

.range-bar .noUi-handle-lower {
  background-color: #fff;
  border-radius: 25px;
  width: 17px !important;
  height: 17px !important;
  top: -7px !important;
  box-shadow: none !important;
  border: 3px solid #6c7fd8 !important;
  cursor: pointer;
}

.range-bar .noUi-tooltip {
  display: none;
}

.range-value input {
  font-size: 16px;
  color: #333;
  text-align: center;
  border: none;
  background: transparent;
  width: 100%;
}



.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: 18px !important;
  right: auto !important;
}

@media (max-width: 1440px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 230px !important;
    right: auto !important;
  }
}

@media (max-width: 1399px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 185px !important;
    right: auto !important;
  }
}

@media (max-width: 1199px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 143px !important;
    right: auto !important;
  }
}

@media (max-width: 991px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 595px !important;
    right: auto !important;
  }
}

@media (max-width: 767px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 429px !important;
    right: auto !important;
  }

}

@media (max-width: 575px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 455px !important;
    right: -45px !important;
  }

  .noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -6px !important;
    right: auto !important;
  }
}

@media (max-width: 480px) {
  .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 365px !important;
    right: -35px !important;
  }

  .noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -15px !important;
    right: auto !important;
  }
}

/* price range slider css end*/

.back-to-top-wrap:hover {
  stroke: #2980b9;
}

.btn-padding {
  padding: 5px 20px !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.top-location {
  top: 180px;
}

/* Collapse */
.height-transition-1s-ease {
  transition: height 1s ease, opacity 0.5s ease;
}

@media (max-width: 1199px) {
  .top-location {
    top: 47px !important;
  }
}