/* checkout */
.bb-checkout-sidebar {
    margin-bottom: -24px;

    .checkout-items {
        border: 1px solid $border-eee;
        padding: 20px;
        border-radius: $radius-20;
        margin-bottom: 24px;

        .sub-title {
            margin-bottom: 12px;

            h4 {
                font-size: 20px;
                font-weight: 700;
                color: $title-color;
            }
        }

        .payment-img {
            img {
                width: 100%;
                max-width: 335px;
            }
        }
    }

    .checkout-summary {
        margin-bottom: 20px;
        border-bottom: 1px solid $border-eee;

        ul {
            margin-bottom: 20px;

            li {
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: $text-color;

                    .apply {
                        font-size: 14px;
                        font-weight: 500;
                        color: $red;
                    }
                }
            }
        }
    }

    .bb-checkout-pro {
        margin-bottom: -24px;

        .pro-items {
            padding: 15px;
            background-color: $bg-box;
            border: 1px solid $border-eee;
            border-radius: $radius-20;
            display: flex;
            margin-bottom: 24px;

            .image {
                margin-right: 15px;

                img {
                    width: 100px;
                    height: 100px;
                    border: 1px solid $border-eee;
                    border-radius: $radius-20;
                }
            }

            .items-contact {
                h4 {
                    font-size: 16px;

                    a {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 18px;
                        color: $title-color;
                    }
                }

                .bb-pro-rating {
                    display: flex;
                }

                .inner-price {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin-bottom: 4px;

                    .new-price {
                        color: $title-color;
                        font-weight: 600;
                        font-size: 15px;
                    }

                    .old-price {
                        font-size: 14px;
                        margin-left: 10px;
                        text-decoration: line-through;
                        color: $text-777;
                    }
                }

                .bb-pro-variation {
                    margin: 0;
                }
            }
        }
    }

    .checkout-method {
        margin-bottom: 24px;

        span.details {
            font-size: 15px;
            font-weight: 500;
            color: $text-color;
        }

        .inner-del {
            width: 50%;
        }

        .bb-del-option {
            margin-top: 12px;
            display: flex;

            .bb-del-head {
                font-size: 15px;
                font-weight: 600;
                color: $title-color;
            }
        }
    }

    .about-order {
        h5 {
            margin-bottom: 12px;
            font-size: 15px;
            font-weight: 500;
            color: $text-color;
        }

        textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            border: 1px solid $border-eee;
            outline: 0;
            border-radius: $radius-10;

            &::placeholder {
                font-size: 14px;
                font-weight: 400;
                color: $text-color;
            }
        }
    }
}

.bb-checkout-contact {
    border: 1px solid $border-eee;
    padding: 20px;
    border-radius: $radius-20;

    .main-title {
        margin-bottom: 20px;

        h4 {
            font-size: 20px;
            font-weight: 700;
            color: $title-color;
        }
    }

    .inner-title {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 500;
        color: $title-color;
    }

    .checkout-radio {
        display: flex;
        margin-bottom: 10px;

        .radio-itens {
            &:not(:last-child) {
                margin-right: 20px;
            }

            input {
                width: auto;
                margin-right: 2px;
            }

            label {
                font-size: 14px;
                font-weight: 400;
                color: $text-color;
            }
        }
    }

    p {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 300;
        color: $text-color;
    }

    .inner-button {
        margin-bottom: 20px;

        a {
            display: inline-block;
            padding: 4px 25px;
        }
    }

    form {
        .input-item {
            margin-bottom: 24px;

            label {
                margin-bottom: 8px;
                font-size: 14px;
                font-weight: 500;
                color: $title-color;
            }
        }

        .input-button {
            margin-bottom: 20px;

            button {
                padding: 4px 25px;
            }
        }
    }

    .input-box-form {
        margin-top: 20px;

        .input-item {
            .custom-select {
                padding: 10px;
                // border: 1px solid $border-eee;
                border-radius: $radius-10 !important;

                .custom-select {
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                }
            }
        }

        .input-button {
            margin-bottom: 0;
        }
    }
}
.information {
    position: relative;

    .address-box {
        width: 100%;
        display: flex !important;
        justify-content: space-between !important;
        ul {
            width: 50%;
            li {
                list-style-type: none;
            }
        }
    }
    .bb-sidebar-block-item {
        position: relative;
        .checked {
            top: 10px;
            left: -10px;
        }
    }
    .cart-remove-item {
        position: absolute;
        top: -7px;
        right: -18px;
        background: rgba(0, 0, 0, .5);
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
        i {
            font-size: 13px;
        }
    }
}


/* Responsive */
@media screen and (max-width: 1399px) {
    .bb-checkout-sidebar {
        .bb-checkout-pro {
            .pro-items {
                .image {
                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .address-box {
        margin-top: 15px;
        flex-direction: column;
    }
    .information {    
        .address-box {
            ul {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .address-box {
        margin-top: 10px;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .bb-checkout-contact {
        .checkout-radio {
            flex-direction: column;
        }
    }

    .address-box {
        ul li span {
            min-width: 90px !important;
        }
    }

    .bb-checkout-sidebar {
        .checkout-method {
            .inner-del {
                width: 100%;
            }

            .bb-del-option {
                flex-direction: column;

                .inner-del {
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .bb-checkout-sidebar {
        .bb-checkout-pro {
            .pro-items {
                flex-direction: column;

                .image {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
}