/* Shop */
.noUi-horizontal {
    .noUi-handle {
        &:after, &:before {
            display: none;
        }
    }
}
.bnr-details-bg {
    background-color: $bg-box;
    padding: 24px;
    border-radius: $radius-20;
    border: 1px solid $border-eee;
}

ul.bb-shop-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;

    li {
        margin: 5px;

        a {
            display: flex;
            background-color: $bg-fff;
            border-radius: $radius-15;
            border: 1px solid $border-eee;
            padding: 10px 20px;
            cursor: pointer;

            &:hover {
                color: $primary !important;
                border-color: $primary;
            }
        }
    }

    li.active-tags {
        a {
            color: $primary !important;
            border-color: $primary;
        }
    }
}

.bb-shop-overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 17;
}

.bb-shop-sidebar {
    @include scrollbar;
    transition: all 0.3s ease-in-out;
    width: 300px;
    height: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 17;
    background-color: $bg-fff;
    transform: translateX(-100%);
    overflow: auto;

    .sidebar-filter-title {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
            font-size: 18px;
            font-weight: 700;
        }

        .filter-close {
            font-size: 22px;
            font-weight: 500;
            color: $close-color;
            cursor: pointer;
        }
    }

    .bb-shop-wrap {
        border-radius: 0;
    }
}

.bb-shop-sidebar-open {
    transform: translateX(0);
}

.bb-bnr-details {
    position: relative;

    .bb-image {
        img {
            width: 100%;
            border-radius: $radius-20;
        }
    }

    .overlay-bnr {
        background-color: $black_02;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        border-radius: $radius-20;
    }

    .inner-contact {
        width: 100%;
        height: 100%;
        padding: 30px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        h4 {
            font-family: $text-font-family;
            font-size: 38px;
            font-weight: 700;
            color: $text-fff;
        }

        p {
            font-family: $text-font-family;
            font-size: 28px;
            font-weight: 500;
            line-height: 32px;
            text-align: right;
            color: $text-fff;
        }
    }
}

.width-50 {
    flex: 0 0 auto !important;
    width: 50% !important;

    .bb-pro-box {
        display: flex;

        .bb-pro-img {
            max-width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bg-fff;
            border-bottom: 0;
            border-right: 1px solid $border-eee;
            border-top-left-radius: $radius-20;
            border-bottom-left-radius: $radius-20;

            .inner-img {
                border-top-right-radius: 0;
                border-bottom-left-radius: $radius-20;
            }
        }

        .bb-pro-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                display: flex;
            }
        }
    }
}

.width-100 {
    flex: 0 0 auto !important;
    width: 100% !important;

    .bb-pro-box {
        display: flex;

        .bb-pro-img {
            max-width: 250px;
            border-bottom: 0;
            border-right: 1px solid $border-eee;

            .inner-img {
                border-top-right-radius: 0;
                border-bottom-left-radius: $radius-20;
            }
        }

        .bb-pro-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                display: flex;
            }
        }
    }
}

.bb-pro-pagination {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    p {
        font-size: 15px;
    }

    ul {
        display: flex;

        li {
            &:not(:last-child) {
                margin-right: 6px;
            }

            a {
                @include ease3;
                width: 32px;
                height: 32px;
                padding: 0;
                font-weight: 300;
                color: $text-777;
                line-height: 32px;
                background: $bg-box;
                font-size: 15px;
                display: flex;
                text-align: center;
                vertical-align: top;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: 1px solid #eee;
                cursor: pointer;

                &:hover {
                    background-color: $secondary;
                    color: $text-fff;
                }
            }

            a.next {
                width: auto;
                padding: 0 13px;
                color: $text-fff !important;
                background-color: $secondary;
                line-height: 30px;

                i {
                    @include ease3;
                    margin-left: 10px;
                    font-size: 16px;
                    width: 8px;
                    color: $text-fff;
                }
            }
        }

        li.active {
            a {
                background-color: $secondary;
                color: $text-fff;
            }
        }
    }
}

.bb-pro-list-top {
    margin-bottom: 24px;
    border-radius: $radius-20;
    display: flex;
    background-color: $bg-box;
    border: 1px solid $border-eee;
    justify-content: space-evenly;

    .row {
        width: 100%;
    }

    .bb-bl-btn {
        padding: 10px 0;
        display: flex;

        button {
            height: 38px;
            width: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            padding: 5px;
            background: transparent;

            i {
                font-size: 20px;
            }

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        button.active {
            background-color: $primary;
            color: $text-fff;
            border-radius: $radius-15;
        }
    }

    .bb-select-inner {
        height: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .custom-select {
            width: 110px;
            margin-right: 0px;
            justify-content: flex-end;
            display: flex;

            &:after {
                right: -10px;
            }
        }
    }
}

.bb-sidebar-contact {
    ul {
        margin-bottom: 0;

        li {
            position: relative;
            display: block;

            &:not(:last-child) {
                margin-bottom: 14px;
            }
            small {
                width: 100%;
                color: $primary;
                text-transform: capitalize;
                &:after {
                    content: "\f2e5";
                    position: absolute;
                    right: 0;
                    font-family: $remixico;
                }
            }
        }
    }
}

.bb-sidebar-block-item {
    position: relative;

    input {
        width: 100%;
        height: calc(100% - 5px);
        position: absolute;
        opacity: 0;
        cursor: pointer;
        z-index: 999;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        &:checked~.checked::after {
            display: block;
        }
    }

    a {
        margin-left: 30px;
        display: block;
        color: $text-777;
        font-size: 14px;
        margin-top: 0;
        line-height: 20px;
        font-weight: 400;
        text-transform: capitalize;
        cursor: pointer;
    }

    .checked {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background: $bg-fff;
        border: 1px solid $border-eee;
        border-radius: 5px;
        overflow: hidden;
        transition: all 300ms linear;

        &:after {
            left: -1px;
            top: -1px;
            width: 18px;
            height: 18px;
            border: 1px solid $primary;
            content: "\EB7B";
            position: absolute;
            display: none;
            background: $primary;
            font-family: $remixico;
            font-size: 14px;
            font-weight: 800;
            color: $bg-fff;
            line-height: 16px;
            text-align: center;
        }
    }
}

.bb-color-contact {
    ul {
        margin-bottom: 0;

        li {
            @include ease3;
            display: inline-block;
            padding: 2px;
            border-radius: $radius-20;
            cursor: pointer;
            margin-right: 5px;
            width: 26px;
            height: 26px;

            .bb-sidebar-block-item {
                position: relative;

                span {
                    width: 22px;
                    height: 22px;
                    display: block;
                    border-radius: $radius-20;
                }

                .pro-color-1 {
                    background-color: $round-box-color-1;
                }

                .pro-color-2 {
                    background-color: $round-box-color-2;
                }

                .pro-color-3 {
                    background-color: $round-box-color-3;
                }

                .pro-color-4 {
                    background-color: $round-box-color-4;
                }

                .pro-color-5 {
                    background-color: $round-box-color-5;
                }

                .pro-color-6 {
                    background-color: $round-box-color-6;
                }

                .pro-color-7 {
                    background-color: $round-box-color-7;
                }

                .pro-color-8 {
                    background-color: $round-box-color-8;
                }

                .pro-color-9 {
                    background-color: $round-box-color-9;
                }

                .pro-color-10 {
                    background-color: $round-box-color-10;
                }
            }
        }

        li.color-sidebar-active {
            .bb-sidebar-block-item {
                span {
                    &:after {
                        width: 22px;
                        height: 22px;
                        content: "\EB7B";
                        font-family: $remixico;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 16px;
                        font-weight: 700;
                        color: $text-fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.price-range-slider {
    position: relative;
    width: 100%;
    margin-bottom: 7px;

    .range-value {
        margin: 0;

        input {
            width: 100%;
            background: $bg-fff;
            color: $text-000;
            font-size: 16px;
            font-weight: initial;
            box-shadow: none;
            border: 1px solid $border-eee;
            // margin: 0 0 15px 0;
            text-align: center;
        }
    }

    .range-bar {
        border: none;
        background: $text-000;
        height: 3px;
        width: 96%;
        margin-left: 8px;

        .ui-slider-range {
            background: $primary !important;
        }

        .ui-slider-handle {
            border: none !important;
            border-radius: 25px !important;
            background: $bg-fff !important;
            top: -7px !important;
            border: 2px solid $primary !important;
            height: 17px !important;
            width: 17px !important;
            cursor: pointer !important;
        }

        .ui-slider-handle+span {
            background: $primary !important;
        }
    }
}

.bb-tags {
    .tag_active {
        color: #fff;
        background-color: $primary !important;
      }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
       

        li {
            @include ease3;
            margin: 5px;
            padding: 2px 15px;
            border: 1px solid $border-eee;
            border-radius: 10px;
            cursor: pointer;
            

            a {
                font-size: 13px;
                text-transform: capitalize;
            }

            &:hover {
                background-color: $primary !important;

                a {
                    color: $text-fff !important;
                }
            }
        }
    }
}

.bb-shop-wrap {
    position: sticky;
    top: 0;
    background-color: $bg-box;
    border-radius: $radius-20;
    border: 1px solid $border-eee;

    .bb-sidebar-block {
        padding: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid $border-eee;
        }

        .bb-sidebar-title {
            margin-bottom: 20px;

            h3 {
                font-size: 18px;
                font-weight: 700;
                color: $title-color;
            }
        }
    }
}

/* Responsive footer css */
@media only screen and (max-width: 1199px) {
    .width-50 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    .bnr-details-bg {
        padding: 15px;
    }

    .width-100 {
        .bb-pro-box {
            display: block;
            overflow: hidden;

            .bb-pro-img {
                max-width: 100%;
                border-bottom: 1px solid $border-eee;
                border-right: 0;

                .inner-img {
                    border-bottom-left-radius: $radius-20;
                }
            }

            .bb-pro-contact {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    display: flex;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .width-50 {
        .bb-pro-box {
            max-width: 380px;
            margin: auto;
            display: block;

            .bb-pro-img {
                max-width: 100%;
                border-bottom: 1px solid $border-eee;
                border-right: 0;

                .inner-img {
                    border-bottom-left-radius: $radius-20;
                }
            }

            .bb-pro-contact {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    display: flex;
                }
            }
        }
    }

    .bb-pro-pagination {
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .bb-bnr-details {
        .inner-contact {
            padding: 20px;

            h4 {
                font-size: 26px;
            }

            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .bb-pro-list-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .col-6 {
            width: 100%;
        }

        .bb-bl-btn {
            justify-content: center;
        }

        .bb-select-inner {
            justify-content: center;

            .custom-select {
                width: 100px;
                justify-content: left;
            }
        }
    }
}