/* Track */

.section-track {
    .track {
        padding: 30px;
        border: 1px solid #eee;
        border-radius: $radius-30;
    }

    .block-title {
        padding: 30px;
        background-color: $bg-box;
        border: 1px solid #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: $radius-20;

        h6 {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 700;
        }

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .bb-progress {
        margin: -12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: calc(20% - 24px);
            margin: 12px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #eee;
            border-radius: $radius-30;
            position: relative;

            .icon {
                margin-bottom: 5px;

                i {
                    font-size: 25px;
                    color: #a5a8b1;
                }
            }

            .number {
                width: 30px;
                height: 30px;
                background-color: rgba(104, 110, 125, .4);
                color: #fff;
                position: absolute;
                top: 10px;
                right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $radius-30;
            }

            .title {
                text-align: center;
                line-height: 22px;
                font-weight: 400;
                color: #a5a8b1;
            }
        }

        li.active {
            border-color: #686e7d;

            .number {
                width: 35px;
                height: 35px;
                background-color: rgba(104, 110, 125, .9);
            }

            .icon {
                margin-bottom: 5px;

                i {
                    color: #686e7d;
                }
            }

            .title {
                font-weight: 600;
                color: #686e7d;
            }
        }
    }
}

/* Responsive */
@media screen and (max-width: 991px) {
    .section-track {
        .bb-progress {
            li {
                width: calc(50% - 24px);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .section-track {
        .bb-progress {
            li {
                width: 100%;
            }
        }
    }

    .section-track {
        .track {
            padding: 15px;
        }
    }
}