/* wishlist */
.bb-wishlist {
    .bb-pro-img {
        .bb-remove-wish {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 10;

            i {
                @include ease3;
                font-size: 22px;
                color: $text-color;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

.bb-wish-rightside {
    .bb-wishlist-msg {
        padding: 30px 0;
        text-align: center;
        font-size: 50px;
        line-height: 32px;
        font-weight: 500;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        color: $text-color;
    }
}

/* Responsive */
@media screen and (max-width: 991px) {
    .bb-wish-rightside {
        .bb-wishlist-msg {
            font-size: 42px;
        }
    }
}

@media screen and (max-width: 767px) {
    .bb-wish-rightside {
        .bb-wishlist-msg {
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 575px) {
    .bb-wish-rightside {
        .bb-wishlist-msg {
            font-size: 32px;
        }
    }
}